* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #131516;
}

.form-container {
  width: fit-content;
  margin: 1rem auto;
  margin-bottom: 2rem;
}

.title-container,
.body-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;

}

.title-container input,
.body-container textarea {
  border: .0625rem solid #ffffff;

  padding: 1rem;
  width: 40rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #3B3B3B;
}

.title-container label,
.body-container label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.title-container input {
  height: 2rem;
}

.body-container textarea {
  resize: none;
}

.form-container button {
  font-size: 1.5rem;
  border: .0625rem solid #ffffff;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: transparent;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.form-container button:hover {
  background-color: #3B3B3B;
}

.form-container button:active {
  opacity: 0.8;
}

.error {
  margin-top: 0.25rem;
  color: red;
}

.posts-container {
  display: none;
  overflow-y: auto;
  border: .0625rem solid #ffffff;
  background-color: #3B3B3B;
  padding: 2rem;
  width: fit-content;
  height: 25rem;
  margin: 1rem auto;
}

.posts-container::-webkit-scrollbar{
  width: .625rem;
  background-color: #131516;
}
.posts-container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.posts-container > div {
  position: relative;
  display: flex;
  
  border: .0625rem solid #ffffff;
  border-radius: 0.5rem;
  width: 40rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #ffffff;
  background-color: #131516;
}

.post-id {
  display: none;
}

.delete-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}